<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products$" [routerLink]="[ '/item/', item.id]">
      <th scope="row">{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price}}</td>
      <td style="text-align: center"><button type="button" class="btn btn-success" (click)="addToChart(item.id)">Add to chart</button></td>
    </tr>
  </tbody>
</table>
